<h1>Stats</h1>

<div>
  Total Articles: <%= @stats.total_articles %>
</div>
<div>
  Total Comments: <%= @stats.total_comments %>
</div>
<div>
  Average word count: <%= @stats.article_average_word_count %>
</div>
<div>
  Max word count: <%= @stats.article_max_word_count %>
</div>
<div>
  Min word count: <%= @stats.article_min_word_count %>
</div>