<ul class="side-nav">
  <li><%= link_to "Articles", articles_path %></li>
  <% if logged_in? %>
    <li><%= link_to "Create a new article", new_article_path %> </li>
  <% end %>
  <li><%= link_to "Tags", tags_path %></li>
  
  <hr>
  <li> Top articles </li>
  <% @articles = Article.all %>
  <% @sorted = @articles.sort_by(&:view_count).reverse %>
  <% @top3 = @sorted.first(3) %>

  <% @top3.each do |a| %>
    <li><%= link_to a.title, article_path(a) %>
      <em><%= pluralize(a.view_count, 'view') %></em>
    </li>
  <% end %>

  <hr>
  <% MonthYear.all.each do |my| %>
    <li>
      <%= link_to my.in_words, month_year_path(my) %>
    </li>
  <% end %>

  <hr>
  <% Page.all.each do |p| %>
    <% if p.show %>
      <li> <%= link_to p.title, page_path(p) %> </li>
    <% end %>
  <% end %>

  <hr>

  <% if logged_in? %>
    <li><%= link_to "Authors", authors_path %></li>
    <li><%= link_to "Log out", logout_path %></li>
  <% else %>
    <li><%= link_to "Log in", login_path %></li>
  <% end %>




  


</ul>

